############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd

############################
# Virtual Environment
############################
venv/
.env/
.env.*

############################
# Docker
############################
*.log
docker-compose.override.yml

############################
# VS Code
############################
.vscode/
!.vscode/extensions.json

############################
# OS (macOS)
############################
.DS_Store

############################
# Test / Coverage
############################
.coverage
htmlcov/
.pytest_cache/

############################
# Database
############################
*.sqlite3

############################
# Build artifacts
############################
dist/
build/
*.egg-info/
